* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

/*Header*/
header {
    background-color: #EAC926;
}

header div.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
    justify-content: space-between;
    align-items: center;
}

header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header div.top-header div.logo {
    width: 45%;
    padding: 10px;
}

header div.top-header div.form {
    display: flex;
    width: 45%;
    align-items: center;

}

header div.top-header div.form .input {
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    width: 125px;
}

header div.top-header div.form .submit {
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 15%;
    height: 25px;
    text-align: center;
}

header div.top-header div.form .submit.i {
    text-align: center;
}

header div.top-header .leyenda-searchbar {
    width: 100%;
    text-align: center;

}

header nav {
    display: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 40%;
    margin-bottom: 10px;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

header div.burger-menu {
    text-align: center;
}

header div.burger-menu i {
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 18px;
    margin: 10px 0 20px 0;
    padding: 15px 10px;
    width: 40px;
}

/*Banner*/
section.banner img {
    width: 100%;
}

/*Main*/
.price {
    font-size: 18px;
    flex: 30%;
}

.discount, .description {
    font-size: 16px;
    font-weight: normal;
}

.discount {
    color: #39b54a;
    flex: 70%;
}

h3, .description {
    color: #666;
}

.description {
    display: none;
    margin-top: 20px;
}

main {
    width: 90%;
    margin: 0 auto;
}

main section .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main section article {
    background-color: #fff;
    margin: 10px 0;
}

main section article img {
    width: 100%;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    color: #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3 {
    margin: 20px 0;
}

article div.main-article {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}

article div.main-article i:hover {
    transform: rotate(-90deg);
}

article div.main-article h4.description{
    display: none;
}

article:hover .main-article .description {
    display: block;
}

article:hover {
    box-shadow: 0 0 10px rgb(100,100,100);
}

/* Footer */
footer section {
    text-align: center;
}

footer section i {
    font-size: 2em;
    margin: 10px 0;
    color: #0044AA;
}

footer section h4 {
    font-weight: bold;
    font-size: 16px;
}

footer section i:hover {
    color: #39b54a;
}

/*Tablets*/
@media screen and (min-width: 361px) and (max-width: 769px) {
    /*Header*/
    header div.top-header div.logo {
        width: 30%;
    }

    header div.top-header div.form {
        width: 30%;
    }

    header div.top-header div.leyenda-searchbar {
        width: 30%;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        margin: 0 50px;
    }

    header div.burger-menu {
        display: none;
    }

    /*Main*/
    main section .products {
        display: flex;
        flex-wrap: wrap;
    }

    main section article .description {
        display: block;
    }

    main section article {
        /*box-shadow: 0 0 10px rgb(100, 100, 100);*/
        width: 48%;
    }

    /*Footer*/
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 40px;

    }

    footer section {
        width: 30%;
    }

    footer p.derechos {
        margin: 40px;
    }
}

/*PCs y Notebooks*/
@media screen and (min-width: 769px) {
    /*Header*/
    header div.top-header div.logo {
        width: 30%;
        padding: 10px;
    }

    header div.top-header div.form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 30px;

    }

    header div.top-header div.leyenda-searchbar {
        width: 30%;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        margin: 0 40px;
    }

    header div.burger-menu {
        display: none;
    }

    /*Main*/
    main section .products {
        display: flex;
        flex-wrap: wrap;
    }

    main section article .description {
        display: block;
    }

    main section article {
        /*box-shadow: 0 0 10px rgb(100, 100, 100);*/
        width: 24%;
    }

    /*Footer*/
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 40px;

    }

    footer section {
        width: 30%;
    }

    footer p.derechos {
        margin: 40px;
    }
}

/*login.html*/
main section.section-login {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

main section.section-login form div {
    margin: 5px;
}

main section.section-login form div.username, div.password-confirm {
    border-radius: 8px;
    border: 2px solid blue;
}

main section.section-login form div.login-confirm button {
    background: #1259c3;
    border-radius: 8px;
    padding: 5px;
    margin: 5px 0 10px 110px;
    transition: background 1s;
}

main section.section-login form div.login-confirm button:hover {
    background: #39b54a;
}

main section.section-login form div.login-confirm button a {
    text-decoration: none;
    color: white;
}

/*register.html*/
main.register {
    display: flex;
    justify-content: center;
    margin: 60px;
}

main.register form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

main.register form div p {
    margin: 10px;
}

main.register form div.perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main.register h3 {
    font-size: 18px;
}








